[submodule "oqtane.framework"]
	path = oqtane.framework
	url = https://github.com/CodeChopsOrg/oqtane.framework
	branch = release/v6.0.1
	ignore = all

[submodule "ink"]
	path = ink
	url = https://github.com/CodeChopsOrg/ink
	branch = release/v1.2.0
	ignore = all
